/*----------------------
------------------------
NAVBAR
------------------------
----------------------*/


/*----------------------
------------------------
LOGIN
------------------------
----------------------*/
.welcomeLogin {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.loginCard {
  background: #4a4a4a;
}
.loginBack {
  background-image: url('images/daffyPic2.jpg');
}
/*----------------------
------------------------
REGISTER
------------------------
----------------------*/


/*----------------------
------------------------
HOME
------------------------
----------------------*/
#homeJumbo {
  height: 500px;
  width: 100%;
  background-image: url('https://www.fg-a.com/wallpapers/geo-shapes-black-1280b.jpg');
  background-size: cover;
  padding: 0;
  color: white;
}
.emptyPro {
  margin-left: -40px;
  margin-top: -30px;
}

/*----------------------
------------------------
QUESTIONS
------------------------
----------------------*/


/*----------------------
------------------------
SETTINGS
------------------------
----------------------*/


/*----------------------
------------------------
FOOTER
------------------------
----------------------*/
