/*----------------------
------------------------
NAVBAR
------------------------
----------------------*/


/*----------------------
------------------------
LOGIN
------------------------
----------------------*/
.welcomeLogin {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
#welcomeTitle, #registerTitle {
  font-size: 70px;
}
.aLogin:hover{
  color: orange;
}
.aLogin {
  color: orange;
}
.loginCard {
  background: #2a2a2af0;
  margin-bottom: 200px;
  color: white;
}

.helloBack, .registerBack, .resetBack {
  background-image: url('https://i.pinimg.com/originals/cd/56/42/cd56425ab589c4027376d544bd32a82f.jpg');
}
/*----------------------
------------------------
REGISTER
------------------------
----------------------*/
.registerCard {
  background: #2a2a2af0;
  margin-top: 30px;
  margin-bottom: 200px;
  color: white;
}

/*----------------------
------------------------
HOME
------------------------
----------------------*/
#aboveJum {
background: #f6c145;
}
#homeJumbo {
  height: 500px;
  width: 100%;
  background-image: url('https://www.fg-a.com/wallpapers/geo-shapes-black-1280b.jpg');
  background-size: cover;
  padding: 0;
  color: white;
  transform: skewY(3deg);
  transform-origin: 0;
}
#helloQuaks {
  font-size: 58px;
}
#dafADuck {
  margin-top: 60px;
  margin-left: 100px;
}
#button {
  margin-left: -300px;
  margin-top: 190px;
  height: 80px;
  width: 500px;
  font-size: 45px;
  border-radius: 50px;
  color: white;
  z-index: 50;
}
.emptyPro {
  margin-left: -30px;
  margin-top: -30px;
}
.proName {
  margin-left: -36px;
  margin-top: 15px;
  font-size: 20px;
}
.homeText {
  text-align: center;
}
.topIcons {
  text-align: right;
  margin-top: 40px;
}
.topMail, .topFacebook, .topInsta {
  margin-top: 20px;
}
.tweet {
  color: #0062ff;
}
.face {
  color: #0f0fb9;
}
.finsta {
  color: purple;
}
.mail {
  color: #343a40;
}
.newStuff {
  border-right: 1px solid black;
}
#newGame {
  margin-left: 15px;
  margin-bottom: 60px;
  /* margin-top: 52px; */
  font-size: 45px;
}
#gamerTag {
  font-size: 55px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

}
.progress {
  width: 80px;
  height: 5px;
  background-color: #c9cacc;
  margin-left: -20px;
  margin-top: -15px;
}

#highText, #prevText {
  margin-left: 185px;
  margin-bottom: 60px;
  margin-top: 52px;
  font-size: 45px;
}
.newQuest, #highScore, .score {
  height: 55px;
  width: 315px;
  padding: 8px;
  font-size: 25px;
  box-shadow: 3px 3px 3px 4px #f8c246;
  margin-bottom: 25px;
}
#highScore, .score {
  margin-left: 175px;
}

.homeBod {
  margin-top: 50px;
  margin-bottom: 130px;
}

/*----------------------
------------------------
QUESTIONS
------------------------
----------------------*/
.quest {
  border: 1px solid black;
  height: 285px;
  text-align: center;
  /* width: 250px; */
}
.questBox {
  width: 625px;
  margin-left: 235px;
}
.asked {
  margin-top: 100px;
}


/*----------------------
------------------------
SETTINGS
------------------------
----------------------*/
.center{
    font-size: 45px
}
.settingsPro {
  margin-bottom: 30px;
  width: 290px;
  height: 40px;
  border: 1px solid black;
  background: white;
}
.settingBack {
  background: #f5a540;
}

.settingSubmit {
  margin-bottom: 30px;
}
.titleSet {
  margin-top: 30px;
}



/*----------------------
------------------------
FOOTER
------------------------
----------------------*/
#foot {
  height: 200px;
  background: black;
  color: white;
  text-align: center;
}
#copy {
  padding-top: 100px;
}
